@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: 'Exo';
  src: url("fonts/Exo-Medium.ttf");
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	opacity: 1;
	-webkit-transition: opacity .2s;
	color: inherit;
}
input:-moz-placeholder, textarea:-moz-placeholder {
	opacity: 1;
	transition: opacity .2s;
	color: inherit;
}
input::-moz-placeholder, textarea::-moz-placeholder {
	opacity: 1;
	transition: opacity .2s;
	color: inherit;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	opacity: 1;
	transition: opacity .2s;
	color: inherit;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
	opacity: 0;
}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
	opacity: 0;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
	opacity: 0;
}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
	opacity: 0;
}

body {
	min-width: 300px;
	user-select: none;
	cursor: default;
	margin: 0;
	background-color: #F5F5F5;
	font-family: Roboto, sans-serif;
}
.boton-azul {
	border-radius: 5px;
	font-weight: bold !important;
	color: white;
	margin-top: 5px;
	text-align: center;
	border: 3px solid #144D79;
	cursor: pointer;
	background: #2A96E7;
	font: 16px 'Exo';
	height: 45px;
	width: 130px;
	float: right;
}
#add {
	height: 56px;
	width: 56px;
	position: absolute;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.5);
	background-color: rgb(255,64,129);
	border-radius: 100%;
	right: 40px;
	top: 190px;
	z-index: 1;
	font-size: 30px;
	font-weight: bold;
	color: white;
	font-family: robot;
	line-height: 56px;
	text-align: center;
	transition: top .2s;
	-webkit-transition: top .2s;
}
#cortina{
	z-index: 99;
	transition: background .6s;
	-webkit-transition: background .6s;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
#login {
	z-index: 100;
	position: fixed;
	width: 249px;
	bottom: 50%;
	left: 50%;
	margin-bottom: -95px;
	margin-left: -124px;
	font-size: 16px;
	font-weight: bold;
	color: white;
}
#login input:not([type=submit]) {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 7px 0;
	border: 2px solid #09C;
	color: #FFF;
	background: transparent;
	height: 40px;
	padding: 0 10px;
	font-size: 14px;
	font-family: 'Exo', sans-serif;
	font-weight: bold !important;
	transition: background .2s, box-shadow .2s, color .2s, border-color, .2s;
	-webkit-transition:  background .2s, box-shadow .2s, color .2s, border-color, .2s;
	border-radius: 2px;
}
#login input:not([type=submit]):focus {
	box-shadow: 0 0 6px rgba(0, 144, 192, 0.5);
	background: rgba(0, 0, 0, 0.25);
}
#login input[type=submit] {
    width: 50%;
}
#login form > div {	margin-top: 15px; }
#login div div {
	float: left;
	width: 50%;
	font-size: 14px;
	color: white;
	font-weight: bold;
	text-shadow: 0 0 1px white;
}
#login div > span {
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	position: absolute;
	bottom: 16px;
	left: -18px;
}
#login label {
	position: relative;
	margin: 5px 7px 0 0;
	float: right;
	width: 90px;
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 3px solid #551419;
	border-radius: 23px;
	color: white;
	transition: border 0.2s ease-in 0s;
	-webkit-transition: border 0.2s ease-in 0s;
}
#login input[type=checkbox]{ display: none; }
#login label div {
	width: 200%;
	margin-left: -100%;
	transition: margin 0.2s ease-in 0s;
	-webkit-transition: margin 0.2s ease-in 0s;
}
#login label div:before, label div:after {
	float: left;
	width: 50%;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#login label div:before {
	content: "si";
	padding-left: 20px;
	background: #2A96E7;
}
#login label div:after {
	content: "no";
	padding-right: 20px;
	background: #A32C36;
	text-align: right;
}
#login label span {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 50px;
	transition: all 0.2s ease-in 0s;
	-webkit-transition: all 0.2s ease-in 0s;
	height: 34px;
	width: 34px;
	border-radius: 17px;
	margin: 3px;
	background: white;
}
#login input[type=checkbox]:checked + label div { margin-left: 0; }
#login input[type=checkbox]:checked + label span { right: 0; }
#login input[type=checkbox]:checked  + label { border-color: #144D79; }
#denegado {
	z-index: 100;
	display: none;
	width: 100%;
	position: fixed;
	bottom: 50%;
	text-align: center;
	margin: auto;
	color: #A32C36;
	text-shadow: 5px 5px 10px #551419;
	font-weight: bold;
}
#denegado div {
	opacity: 0;
	display: table;
	margin: auto;
}
header {
	background-color: #673AB7;
	color: white;
}
h1 {
	font-size: 27px;
	font-weight: normal;
	padding: 66px 40px;
	margin: 0;
}
nav {
	position: relative;
	background-color: #512DA8;
	padding: 0 20px;
}
nav span {
	padding: 20px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	color: rgba(255,255,255,.6);
	display: inline-block;
	text-align: center;
	transition: all 1s;
	-webkit-transition: all 1s;
	min-width: 20px;
}
nav span.seleccionado {
	color: white;
	transition: color .6s, min-width 1s;
	-webkit-transition: color .6s, min-width 1s;
}
nav div{
	position: absolute;
	bottom: 0;
	transition: width .2s, margin .6s, background-color 1s;
	-webkit-transition: width .2s, margin .6s, background-color 1s;
	height: 4px;
	background-color: white;
	width: 116px;
	margin-left: 0;
}
main {
	display: hidden;
	min-height: 300px;
	margin: 50px auto;
	width: 900px;
}
section {
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	margin-bottom: 40px;
	overflow: auto;
}
section > form{
	display: block;
	width: 70%;
	margin: auto;
}
section.con-sombra {
	padding: 30px 50px;
	line-height: 23px;
	letter-spacing: 0.5px;
	color: #616161;
	background-color: white;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
input:not([type=submit]), textarea {
	width: 49%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 7px 0;
	border: 2px solid black;
	color: black;
	background: transparent;
	height: 40px;
	padding: 0 10px;
	font-size: 14px;
	font-family: 'Exo', sans-serif;
	font-weight: bold !important;
	transition: background .2s, box-shadow .2s, color .2s, border-color, .2s;
	-webkit-transition: background .2s, box-shadow .2s, color .2s, border-color, .2s;
	border-radius: 2px;
}
textarea {
	padding: 10px;
	max-width: 100%;
	width: 100%;
	min-height: 200px;
}
label {
	display: block;
	margin: 20px 30px 5px;
	font-weight: bold;
	transition: margin .6s;
	-webkit-transition: margin .6s;
}
footer {
	height: 100px;
	background-color: #424242;
}
.calendario-semanal{
	margin: auto;
	width: 70%;
	transition: width .2s;
	-webkit-transition: width .6s;
}
.calendario-semanal div {
	display: inline-block;
	width: 12.2%;
	margin: 1%;
	box-sizing: border-box;
	text-align: center;
	font-size: 120%;
	line-height: 42px;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 2px;
	color: black
}
.dia-seleccionado {
	background-color: #2A96E7;
	color: white!important;
	border-color: #144D79!important;
}
@media only screen and (max-width: 900px) {
	main {
	width: 95%;
	}
	nav span {
		font-size: 10px;
	}
}
@media only screen and (max-width: 800px) {
	nav div {
		background-color: transparent;
	}
	nav span{
		min-width: 114px;
	}
	#add{
		width: 45px;
		height: 45px;
		line-height: 45px;
	}
	.calendario-semanal {
		width: 100%;
	}
}
@media only screen and (max-width: 500px) {
	input[type=text] {
		width: 100%;
	}
}
@media only screen and (max-width: 450px) {
	nav span {
		display: block;
	}
	label {
		margin: 20px 0 5px;
	}
	section{
		padding: 20px!important;
	}
}
